<!DOCTYPE html>
<html ng-app='madlibs'>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="main.css">

</head>
<body>

	<div class="container">

		<div class="row headerBar">
		
			<div class="happyFace col-md-3">
				
				<img src="mad-lib-happy-face.png" alt="" class="happyFaceImage">

			</div>

			<div class="logo col-md-9">
				
				<img src="ng-mad-libs-logo.png" alt="" class="logoImage">

				<h1 class="logoTitle">Automate This!</h1>

			</div>

		</div>

		<div ng-show="mlTab == 'input'" ng-controller="mlInputCtrl" class="row madLibsInputs">
			
			<h2>Provide the following words:</h2>

			<form name="mlForm" ng-submit="submit()">

				<div ng-repeat="(name,madlib) in madlibs | orderObjectBy:'index'" class="col-md-4">
					
					<input type="text" name="{{ name }}" placeholder="{{ madlib.placeholder }}" ng-model="madlib.word" class="madlibsInput">

				</div>

				<input type="submit">

			</form>

		</div>

		<div ng-show="mlTab == 'output'" ng-controller="mlOutputCtrl" class="row madlibsOutput">
			<p>{{madlibs.name.word | uppercase}} was a {{madlibs.jobTitle.word | uppercase}} who loved technology. Although {{ "obj" | gender:genderInput }} loved parts of {{ "poss" | gender:genderInput }} job, {{ "obj" | gender:genderInput }} absolutely hated  {{madlibs.tediousTask.word | uppercase}} and {{madlibs.dirtyTask.word | uppercase}}. So, {{madlibs.name.word | uppercase}} met with {{ "poss" | gender:genderInput }} life mentor {{madlibs.celebrity.word | uppercase}} who told {{ "subj" | gender:genderInput }} to learn how to {{madlibs.uselessSkill.word | uppercase}} with Thinkful. Thinkful didn't offer a course on {{madlibs.uselessSkill.word | uppercase}} so {{ "obj" | gender:genderInput }} studied programming instead.</p>
 
			<p>What a great decision! With {{ "poss" | gender:genderInput }} new skills, {{madlibs.name.word | uppercase}} built a(n) {{madlibs.adjective.word | uppercase}} robot named {{madlibs.obnoxiousCelebrity.word | uppercase}} that not only loved {{madlibs.dirtyTask.word | uppercase}} but did it {{madlibs.hugeNumber.word | uppercase}} faster. 
			</p>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="app.js"></script>

</body>
</html>