<!DOCTYPE html>
<html ng-app='madlibs'>
<head>

	<link rel="stylesheet" href="main.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body ng-controller="myController">

	<div class="container">

		<div class="row headerBar">
		
			<div class="happyFace col-md-2">
				
				<img src="mad-lib-happy-face.png" alt="" class="happyFaceImage">

			</div>

			<div class="logo col-md-10">
				
				<img src="ng-mad-libs-logo.png" alt="" class="logoImage">

				<h1 class="logoTitle">Automate This!</h1>

			</div>

		</div>

		<div class="row madLibsInputs">
			
			<h2>Provide the following words:</h2>

			<div ng-repeat="madlib in madlibs | orderObjectBy:'index'" class="col-md-4">
				
				<input type="text" ng-model="madlib.word" class="madlibsInput">

			</div>

		</div>

		<div class="row madlibsOutput">
			<p>{{madlibs.femaleName.word | uppercase}} was a {{madlibs.jobTitle.word | uppercase}} who loved technology. Although she loved parts of her job, she absolutely hated  {{madlibs.tediousTask.word | uppercase}} and {{madlibs.dirtyTask.word | uppercase}}. So, {{madlibs.femaleName.word | uppercase}} met with her life mentor {{madlibs.celebrity.word | uppercase}} who told her to learn how to {{madlibs.uselessSkill.word | uppercase}} with Thinkful. Thinkful didn't offer a course on {{madlibs.uselessSkill.word | uppercase}} so she studied programming instead.</p>
 
			<p>What a great decision! With her new skills, {{madlibs.femaleName.word | uppercase}} built a(n) {{madlibs.adjective.word | uppercase}} robot named {{madlibs.obnoxiousCelebrity.word | uppercase}} that not only loved {{madlibs.dirtyTask.word | uppercase}} but did it {{madlibs.hugeNumber.word | uppercase}} faster. 
			</p>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="app.js"></script>

</body>
</html>