@media (min-width: 1200px) {
  .container {
    width: 650px;
  }
}

.container {
border: 1px solid black;
margin-top:80px;
}

.headerBar{
border-bottom: 1px solid black;
}

.happyFace {
border: 1px solid black;
}

.happyFaceImage {
height: 80px;
margin: 3px auto;
display: block;
}

.logoImage {
height: 45px;
display: block;
margin: 5px auto;
}

.logoTitle {
text-align: center;
margin: -5px;
}

.madLibsInputs h2 {
margin-top: 50px;
margin-left: 50px;
}

.madlibsInput {
display: block;
margin: 5px auto;
}

.madlibsOutput {
margin-top: 50px;
border-top: 1px solid black;
padding: 20px 60px;
}