@media (min-width: 1200px) {
  .container {
    width: 650px;
  }
}

.container {
	border: 1px solid black;
	margin-top:50px;
}

.headerBar{
	border-bottom: 1px solid black;
}

.happyFace {
	border: 1px solid black;
}

.happyFaceImage {
	height: 80px;
	margin: 3px auto;
	display: block;
}

.logoImage {
	height: 45px;
	display: block;
	margin: 5px auto;
}

.logoTitle {
	text-align: center;
	margin: -5px;
}

.madlibsInputs{
	position: relative;
}

.madlibsInputs h2 {
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
}

.madlibsInput {
	display: block;
	margin: 5px auto;
	position: relative;
}

.genderLabel {
	margin-left: 30px;
}

.gender {
	float: left;
	margin-left: 10px;
}

.mlSubmit {
	margin-top: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.32);
}

.errorMessage {
	color: red;
}

.mlSubmitButton {
	float: right;
	margin: 15px;
}

.madlibsOutput {
	padding: 20px 60px;
}

.resetButton {
	float: right;
}

.madlibsOutput {
	padding: 20px 60px;
	position: relative;
}

.animateBody.ng-hide-remove{
/*   remember, the .hg-hide class is added to element
   when the active class is added causing it to appear
   as hidden. Therefore set the styling to display=block
   so that the hide animation is visible */
  display:block!important
}

.animateBody.ng-hide-remove {
  -webkit-animation:1.0s show;
  animation:1.0s show;
}

@keyframes show {
  from { opacity:0;left:30px; }
  to { opacity:1;left:0; }
}

@-webkit-keyframes show {
  from { opacity:0;left:30px; }
  to { opacity:1;left:0; }
}